html,
body {
	background-image: radial-gradient(circle at top center, rgb(7,66,110),rgb(1,9,12));
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1.1rem;
	color: aliceblue;
	margin: 0;
	padding: 0;
	overflow-x: hidden !important;
}

.swiper-container {
	width: 350px;
	height: 350px;
	margin-top: 3rem;
	margin-bottom: 100px;
}

.swiper-slide {
	margin-top: 3rem;
	background-position: center;
	background-size: cover;
}
.swiper-slide p {
	position: relative;
	top: -32.5%;
	text-align: center !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 2rem;
}
h1 {
	background: #8880;
	border-radius: 2rem;
	padding: 1.5rem;
}

p {
	margin-top: 3rem;
}

ul {
	list-style: none;
}
.swiper-pagination {
	position: relative;
	transform: translateY(50%);
	bottom: -20%;
	size: 50px;
	margin-bottom: 2rem !important;
}

.nav-link {
	background: rgba(0, 0, 0, 0);
	transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
	margin-right: 15px;
	margin-left: 15px;
}
.nav-link:hover {
	background-image: radial-gradient(circle at center center, rgb(47,58,99),rgb(8, 8, 8));
	border-radius: 3rem;
}
.navbar
{
	background-image: radial-gradient(circle at center center, rgb(47,58,99),rgb(8, 8, 8));
}